div#container {
  /* border: solid 1px gray; */
  
  width: 90%;
  margin: 0 auto;
  padding: 2%;
}

table,tr,td,th {
  border: solid 1px gray;
  border-collapse: collapse;
}

td,th {
  width: 200px;
  height: 50px;
  text-align: center;
}
